@mixin flexFillHeight {
	display: flex;
	flex-flow: column;
	flex: 1 auto;
}
@mixin flexFillWidth {
    display: flex;
    flex-flow: row;
    flex: 1 auto;
}
@mixin forPhoneOnly {
	@media (max-width: 599px) { @content; }
}
@mixin forTabletPortraitUp {
	@media (min-width: 600px) { @content; }
}
@mixin forTabletLandscapeUp {
	@media (min-width: 900px) { @content; }
}
@mixin forDesktopUp {
	@media (min-width: 1200px) { @content; }
}
@mixin forBigDesktopUp {
	@media (min-width: 1800px) { @content; }
}
